.vscode/
.idea/
.vs/
.cache/
cmake-build-debug/
cmake-build-release/
build_win.bat
build/
bin/
.clangd
src/nncv/compiler/Frontend/AntlrBackend/.antlr
src/nncv/compiler/Frontend/AntlrBackend/*.interp
src/nncv/compiler/Frontend/AntlrBackend/*.tokens
third_party/antlr/antlr4-cpp-runtime-4.13.0-source.zip
third_party/antlr/antlr-4.13.0-complete.jar
third_party/antlr/antlr4-4.13.0.zip
docs/site/
./CMakeSettings.json
out/
site/
deps/
third_party/glfw/
a.nvm
Pfor_mlir.mlir